.form-register{
    width: 95%;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.733);
    padding: 20px;
}

.form__title{
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
}

.form__label, .form__input {
    display: block;
}

.form__label {
    font-size: 15px;
}

.form__input {
    width: 70%;
    padding: 10px;
    font-size: 1em;
}

.form__file{
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.form__submit {
    width: 100%;
    background: #233734;
    padding: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}