@font-face {
    font-family: "Futura";
    src: url(../css/Futura\ Round.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
section{
    padding: 1rem 7%;

}
.box{
    align-items: center;
    margin: auto;
  }

.footer{
    background: #DEC4B6;
    font-family: Futura;
}
.footer .box-container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}
.footer .box-container .box{
    margin: 0;
    justify-content: center;
    margin-left: 10px;
}
.footer .box-container .box h3{
    font-size: 19px;
    padding: 1rem 0;
    color: #233734;
    font-weight: 300;
}
.footer .box-container .box a{
    font-family: "Futura";
    font-size: 16px;
    display: block;
    color: #233734;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    color: #233734;
    padding-right: .5rem;
}
.footer .box-container .box a:hover{
    color: #233734;
}
.footer .share{
    padding-top: 1rem;
    text-align: center;
}
.footer .share a{
    color: #233734;
    font-size: 1.1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    border: .1rem solid #233734;
    margin: .3rem;
}
.footer .share a:hover{
    color: var(--white);
    background: #233734;
    transform: rotate(360deg);
}
.footer .credit{
    font-size: 20px;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    background: #DEC4B6;
}
.footer .credit{
    color: #233734;
}
